@import url("https://fonts.googleapis.com/css2?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Open+sans");

$primary-color: black;
$accent-color: gray;
$text-color: white;
$font-stack: "Lato", "Roboto", "Open Sans", "Helvectica", "Arial";
