<!doctype html>
<html>
    <head>
        <title>youngounlay.github.cc</title>

        <link
            href="https://daniellay.cc/u/dlay"
            rel="alternate"
            type="application/activity+json"
        />
        <meta property="og:title" content="dlay" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://daniellay.cc/u/dlay" />
        <meta
            property="og:image"
            content="https://daniellay.cc/a?a=https%3A%2F%2Fdaniellay.cc%2Fu%2Fdlay"
        />
        <meta property="og:description" content="what about me?" />
        <link href="/icon.png" rel="icon" />
        <meta name="theme-color" content="#305" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div id="topmenu">
                <span><a id="homelink" href="/">home</a></span>
                <span><a href="/o">tags</a></span>
                <span><a href="/events">events</a></span>
                <span><a href="/about">about</a></span>

                <span><a href="/login">login</a></span>
            </div>
        </header>

        <main>
            <div class="info" id="infobox">
                <div id="srvmsg">
                    <div>
                        <p>
                            dlay
                            <span class="left1em"
                                ><a href="/u/dlay/rss">rss</a></span
                            >
                        </p>
                        <p></p>
                        <p>what about me?</p>
                    </div>
                </div>
            </div>

            <div id="honksonpage">
                <div></div>
            </div>
        </main>
    </body>
</html>
